html,
body {
 font-family: "Merriweather Sans", sans-serif;
 font-size: 16px;
 background-color: white;
}

/* Boxes to help with design
section,
div,
header,
footer,
nav {
  border: 1px solid blue;
}*/

h1 {
  font-size: 2rem;
  font-family: "Archive Black", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-family: "Archive Black", sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  line-height: 1.2;
}

h4{
  font-size: 0.8rem;
}

p {
  line-height: 1.2;
}

/* Header */
header {
  display: flex;
  z-index: 10;
  position: fixed;
  height: 64px;
  align-items: center;
  background-color: white;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  vertical-align: middle;
  max-width: 30%;
}

.mlogo {
  flex: 1;
}

.grey {
  flex: 2;
  font-weight: 600;
  color: #202020;
}

.lgrey {
  flex: 3;
  font-weight: 300;
  color: #606060;
}

nav {
  max-width: 70%;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 100%;
  vertical-align: middle;
  margin-right: 1rem;
  font-family: Merriweather, sans-serif;
}

nav li {
  margin-left: 1rem;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

a:hover {
  color: black;
  text-shadow: 0.5px 1.2px #202020;
}

a:link,
a:active,
a:visited {
  color: black;
  text-decoration: none;
}

.detail a:link,
.detail a:active,
.detail a:visited {
  color: blue;
  text-decoration: none;
}

.logo img {
  max-height: 2rem;
  margin: 0;
  padding: 0;
}

.menu .mob-nav {
  display: none;
}

.mob-nav img {
  vertical-align: middle;
}

/* Natural Navigation Responsive View */
@media only screen and (max-width: 695px) {
  /* Less than 695 pixel screen natural break nav */
  .menu .desk-nav {
    display: none;
  }
  .logo h3 {
    display: none;
  }
  header nav ul {
    justify-content: space-between;
  }
  nav li {
    margin: 0;
  }
  nav {
    width: 100%;
  }
  .menu .mob-nav {
    display: flex;
    width: 100%;
    vertical-align: middle;
    margin: 0;
  }
  .right .button {
    width: 100px;
  }
}

/* LEARN and INFO Sections */
.learn {
  padding-top: 65px;
  background-color: #808080;
}

.learn,
.info,
.thesis {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left {
  display: flex;
  width: 60%;
  flex-direction: column;
  text-align: left;
}

.left .banner,
.left .main {
  width: 92.5%;
  margin: 2rem 1.5rem;
}

.left img {
  width: 100%;
  margin: 2rem 1.5rem;
}

.left h1,
.left h3,
.left h4 {
  margin: 1rem 1.5rem;
}

.left h1,
.thesis .left h2 {
  font-size: 2.5rem;
}

.left h3,
.thesis .left p,
.thesis .details h3 {
  font-size: 1.2rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
}

.left h4 {
  font-size: 1rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 2rem;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 40%;
  margin: 2rem 0;
}

.learn .right h1,
.learn .right h3 {
  margin: 1rem 1rem;
}

.learn .right h1 {
  font-size: 2.7rem;
}

.learn .right h3 {
  font-size: 1.4rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
}

.learn .middle {
  justify-content: center;
}

.right .button {
  text-align: center;
  background-color: #606060;
  color: white;
  padding: 0.5rem 35%;
  width: auto;
  margin-left: 1rem;
  margin-top: 1.5rem;
  border: 1px solid #404040;
  border-radius: 3px;
}

.icontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.gray {
  background-color: #808080;
}

.right div:nth-child(1n+3) {
  background-color: #808080;
}

.info-dimage {
  width: 90%;
  height: auto;
  margin: 1rem 0 1rem 1rem;
}

.image {
  display: block;
  max-width: 35%;
  justify-content: center;
  align-self: center;
}

.detail {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  margin-left: 1rem;
}

.detail h2,
.detail h3,
.detail a,
.thesis .left h2,
.thesis .left p  {
  margin: 0.4rem 0.25rem;
}

.detail h3,
.detail a,
.thesis .left p {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
}

.info-mimage {
  display: none;
}

/* Natural LEARN and INFO Responsive View */
@media only screen and (max-width: 880px) {
  /* Less than 880 pixel screen natural break */
  .learn .right h1,
  .course .title h2,
  body .exhibit h2 {
    font-size: 1.7rem;
  }
  .details h2 {
    font-size: 1.1rem;
  }
  body .learn .right h3,
  body .detail h2 {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .learn,
  .info {
    flex-direction: column;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  .right {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .icontainer {
    display: block;
  }
  .image {
    display: flex;
    max-width: none;
  }
  .detail {
    display: inline-flex;
    width: 100%;
    height: auto;
    max-width: none;
    padding: 0;
    margin: 0;
  }
  .image img {
    width: 100%;
    height: 100%;
    margin: 1rem;
  }
  .detail {
    margin: 0;
    padding: 0;
  }
  .learn .left,
  .learn .right,
  .info .left,
  .info .right {
    width: 100%;
  }
  .left .banner {
    width: 100%;
    margin: 0;
  }
  .info-mimage {
    height: auto;
    margin: 0;
    display: block;
  }
  .left .main,
  .left h1,
  .left h3,
  .left h4,
  .info-dimage {
    display: none;
  }
  .right div:nth-child(1n+3) {
    background-color: white;
  }
  .learn .right h1 {
    margin: 2rem 1rem 0 1rem;
  }
  .learn .right h3 {
    margin: 2rem 1rem 1.5rem 1rem;
  }
  .right .button {
    margin: 0 1rem 2rem 1rem;
    align-self: auto;
  }
  .button a {
    width: 100px;
  }
  .detail h2 {
    margin: 1rem 2rem 1rem 2rem;
  }
  .detail h3 {
    margin: 0 2rem 1rem 2rem;
  }
  .detail a {
    margin: 0 2rem 0 2rem;
    padding-bottom: 3rem;
  }
}

/* Courses Section */
.course {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: #808080;
}

.title {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  background-color: #808080;
}

.title h2 {
  font-size: 2.2rem;
}

.track {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 16rem 1rem 16rem;
  background-color: #808080;
}

.details {
  display: flex;
  flex-direction: column;
  width: 18rem;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: white;
}

.details img {
  width: 100%;
  height: auto;
}

.details h2,
.details h3,
.details p {
  margin: 0.5rem 1rem 0 1rem;
}

.details p {
  padding-bottom: 1.5rem;
}

/* Natural COURSES Responsive View */
@media only screen and (max-width: 1450px) {
  /* Less than 1450 pixel screen natural break */
  .track {
    margin: 2rem 10rem 1rem 10rem;
  }
}
@media only screen and (max-width: 1300px) {
  /* Less than 1300 pixel screen natural break */
  .track {
    margin: 2rem 5.5rem 1rem 5.5rem;
  }
}
@media only screen and (max-width: 1080px) {
  /* more than 1080 pixel screen natural break */
  .track {
    margin: 2rem 4.5rem 1rem 4.5rem;
  }
}
@media only screen and (max-width: 775px) {
  /* Less than 775 pixel screen natural break */
  .track {
    margin: 2rem 2rem 1rem 2rem;
  }
}
@media only screen and (max-width: 695px) {
  /* Less than 695 pixel screen natural break */
  .details img,
  .details h3,
  .details p {
    display: none;
  }
  .details h2 {
    padding: 1rem 0 1.5rem 1rem;
    margin: 0;
  }
  .course {
    padding: 0;
    margin: 0;
  }
  .title {
    padding: 2rem 0 1rem 0;
  }
  .track {
    display: block;
    padding: 0;
    margin: 0 1rem 1.5rem 1rem;
  }
  .details {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 0 0.5rem 0;
    width: 100%;
    border: 1px solid #404040;
    border-radius: 3px;
  }
}

/* Thesis Exhibit Section */
.exhibit {
  display: block;
  max-width: 100%;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;
}

.exhibit h2 {
  font-size: 2.2rem;
}

.thesis {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
video {
  width: 100%;
  height: auto;
}

.r-urban {
  margin: 0 1.5rem;
  width: 92%;
}

.thesis .left h2,
.thesis .detail h2 {
  font-size: 1.4rem;
}

.thesis .left p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.thesis .detail h3 {
  font-size: 1rem;
}

.thesis .left h2 {
  margin: 1.5rem 0 0.5rem 1.5rem;
}

.thesis .left p {
  margin: 0 1.5rem 2rem 1.5rem;
}

.thesis .t-right {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 40%;
}

.dimage {
  width: 90%;
  height: auto;
  margin: 1rem 0 1rem 1rem;
}

@media only screen and (max-width: 695px) {
  /* Less than 695 pixel screen natural break */
  .thesis .left h2,
  .thesis .left p,
  .thesis .t-right {
    display: none;
  }
  .exhibit {
    padding: 2rem 0 1rem 0;
  }
  .thesis .left {
    display: block;
    width: 100%;
    margin: 0;
  }
  .r-urban {
    margin: 0 0 1.5rem 0;
    width: 100%;
  }
}

/* Footer Section */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  padding: 1rem 1.5rem 2rem 1.5rem;
  background-color: #808080;
}

@media only screen and (max-width: 695px) {
  /* Less than 695 pixel screen natural break */
  footer a {
    display: none;
  }
  footer span {
    font-size: 0.7rem;
  }
  footer {
    padding: 1rem 1.5rem 1rem 1.5rem;
  }
}
